<h1>A NodeJS View</h1>

<h4>Email Address: &nbsp<i>{{ email }}</i></h4>
<p>{{ title }}</p>
<form action="/" method="post">
      <input type="text" name="email">
      <button type="submit">Submit</button>
</form>
